<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.welcome.oneliner}}</h1>
          <p class="hero__subtitle">{{ site.data.settings.welcome.about }}</p>
          <div class="hero__social">
            <span class="hero__social-title">Follow Me |</span>
            {% include contact-link.html %}
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="hero__image">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/DGIXT7ce3vQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->
